
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>3D 방앗간</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>
<body>

<!-- Preloader -->
<!--<div id="preloader">-->
    <!--<div class="loader"></div>-->
<!--</div>-->
<!-- /Preloader -->

<!-- Header -->

    <!-- Slider -->

    <section id="about" class="section">
        <div class="container">

          <div class="text-center page-404">

                    <h1 class="bounceIn wow" data-wow-duration="1.5s">Oooops!</h1>
                    <h2><strong>404</strong> Not Found</h2>
                    <h3>We're sorry, there's <strong>nothing</strong> in here :-(</h3>

                    <div>
                        <a href="index-smooth-scroll.html" class="btn btn-theme">Back to home</a>
                    </div>

                </div>

        </div>
    </section>


<!-- SCRIPTS -->
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/general.js' %}"></script>
<!-- /SCRIPTS -->

</body>
</html>

