<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>3D 방앗간</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>

<!-- Header -->
<header id="home">

    <!-- Navigation -->
    <nav id="navigation" class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- Navigation Header -->
                    <div class="navbar-header">

                        <!-- Toggle Button -->
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu"
                                aria-expanded="false"
                                aria-controls="main-menu">

                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /Toggle Button -->

                        <!-- Brand -->
                        <a href="{% url 'bootstrap' %}" class="brand">

                            <!-- Logo Big -->
                            <div class="big">
                               <span class="icon_cogs"></span> 3D 방앗간
                            </div>
                            <!-- /Logo Big -->

                            <!-- Logo Small -->
                            <div class="small">
                                <span class="icon_cogs"></span>
                            </div>
                            <!-- /Logo Small -->

                        </a>
                        <!-- /Brand -->
                    </div>
                    <!-- /Navigation Header -->

                    <!-- Navigation -->
                    <div id="main-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="smooth-scroll" href="{% url 'aboutus' %}">방앗간 소개</a></li>
                            <li><a class="smooth-scroll" href="{% url 'service' %}">제공 서비스</a></li>

                            <li><a class="smooth-scroll" href="{% url 'mypage' %}">나의 방앗간</a></li>
                            <li><a class="smooth-scroll" href="{% url 'login' %}">로그인 하기</a></li>

                          <!-- /Navigation -->

                        </ul>
                    </div>
                    <!-- /Navigation -->

                </div>
            </div>
        </div>
    </nav>
</header>
<!-- /Header -->

<!-- Main -->
<main class="main-container">



    <!-- Section: Projects -->
    <section id="projects" class="section section-small no-pb bg-light-gray">
        <div class="container-fluid">

            <!-- Section Header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title underline">방앗간 포트폴리오</h2>
                        <p class="section-subtitle">
                            3D 방앗간에서 제작한 모델입니다. 출력 완성품으로 저렴하게 만나실 수 있으십니다.
                            <br>장식용으로 좋습니다.
                        </p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <div class="row section-content animated fadeIn wow" data-wow-duration="0.9s">

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project01.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project01.jpg' %}" alt="">
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal_1">
                    <button class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">30x30x30(mm) FDM 방식 :50,000원</button>
                    </a>

                </div>

                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project02.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project02.jpg' %}" alt="">
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal_2">
                    <button class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">40x40x40(mm) FDM 방식 :70,000원</button>
                    </a>
                </div>
                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project03.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project03.jpg' %}" alt="">
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal_3">
                    <button class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">50x50x50(mm) SLA 방식 :120,000원</button>
                    </a>
                </div>
                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project04.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project04.jpg' %}" alt="">
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal_4">
                    <button class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">60x60x60(mm) FDM 방식 :180,000원</button>
                    </a>
                </div>
                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project05.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project05.jpg' %}" alt="">
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal_5">
                    <button class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">62x65x63(mm) FDM 방식 :190,000원</button>
                    </a>

                </div>
                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project06.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project06.jpg' %}" alt="">
                        </div>
                    </a>
                    <button id="paid6" class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">50x10x80(mm) SLA 방식 :100,000원</button>
                    <script type="text/javascript">

                                        $(function() {
                                                $("#paid6").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '100000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
                </div>
                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project07.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project07.jpg' %}" alt="">
                        </div>
                    </a>

                    <button id="paid7" class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">50x10x80(mm) SLA 방식 :100,000원</button>
                    <script type="text/javascript">

                                        $(function() {
                                                $("#paid7").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '100000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
                </div>
                <!-- /Project Image -->

                <!-- Project Image -->
                <div class="col-md-3 col-sm-6 col-xs-12 project-col">
                    <a href="{% static 'images/project08.jpg' %}" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="{% static 'images/project08.jpg' %}" alt="">
                        </div>
                    </a>
                    <button id="paid8" class="btn col-md-12" style = "margin:0px 0px 0px 0px;font-size:12px;">50x50x50(mm) SLA 방식 :140,000원</button>
                    <script type="text/javascript">

                                        $(function() {
                                                $("#paid8").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '140000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
                </div>
                <!-- /Project Image -->

            </div>

        </div>
    </section>
    <!-- /Section: Projects -->



    <!-- /Trigger: Join -->

    <!-- Section: Contact Information -->
    <section id="contact-information" class="section section-small no-pb bg-dark">
        <div class="container">

            <!-- Section Header -->
            <div class="row" style="display: none;">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title underline">Contact Information</h2>
                        <p class="section-subtitle">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour.
                        </p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->


          <!-- Section Content -->
            <div class="row animated fadeIn wow" data-wow-duration="0.9s">
                <div class="col-md-10 col-md-offset-2 col-sm-12">
                    <div class="row">

                        <div class="col-sm-4 col-xs-12">
                            <div class="media contact">
                                <div class="media-left">
                                    <span class="icon icon_map_alt"></span>
                                </div>
                                <div class="media-body info h5">
                                    <span>Our Address</span>
                                    서울시 강동구 천호대로 1106 <br>sk허브 205호
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="media contact">
                                <div class="media-left">
                                    <span class="icon icon_mail_alt"></span>
                                </div>
                                <div class="media-body info h5">
                                    <span>E-mail</span>
                                    <a href="mailto:custom.3dbang@gmail.com" style ="color:white">custom.3dbang@gmail.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="media contact">
                                <div class="media-left">
                                    <i class="icon icon_mobile"></i>
                                </div>
                                <div class="media-body info h5">
                                    <span>Phone Number</span>
                                    070 7797 0528
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /Section Content -->

        </div>
    </section>


            </div>
            <!-- /Section Content -->

        </div>
    </section>
    <!-- /Section: Contact -->

</main>
<!-- /Main -->

<!-- Footer -->
<footer class="footer section section-small no-pb bg-light-gray">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-md-3 col-sm-6 col-xs-12 footer-col">

                <!-- Footer Logo -->
                <div class="logo">
                    <span class="icon_cogs"></span> 3D 방앗간
                </div>
                <!-- /Footer Logo -->

                <!-- Footer Text -->
                <p class="text">
                    3D 프린팅으로 고객님의 상상을 현실로 만들어 <br>주는 기업을 지향하는 스타트업입니다.
                </p>
                <!-- /Footer Text -->

                <!-- Footer Social -->
                <ul class="social-inline">
                    <li><a href="https://www.facebook.com/3d-%ED%94%84%EB%A6%B0%ED%8A%B8%EC%9D%98-%EB%AA%A8%EB%93%A0-%EA%B2%83-3D%EB%B0%A9%EC%95%97%EA%B0%84-2177860285561082/" class="fa fa-fw fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-fw fa-instagram"></a></li>

                    <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                </ul>
                <!-- /Footer Social -->

            </div>

            <!-- Footer Column -->
            <div class="col-md-2 col-sm-6 col-xs-12 footer-col">
                <br>
                <h4 class="title">Site Menu</h4>

                <!-- Footer Menu -->
                <ul class="menu">
                    <li><a href="{% url 'bootstrap' %}">홈</a></li>
                    <li><a href="{% url 'aboutus' %}">방앗간 소개</a></li>
                    <li><a href="{% url 'service' %}">다양한 서비스</a></li>
                    <li><a href="{% url 'mypage' %}">나의 방앗간</a></li>
                    <li><a href="{% url 'login' %}">로그인 하기</a></li>
                </ul>
                <!-- /Footer Menu -->

            </div>

                <br>
                <div class="tags">
                    <a href="#" class="tag">3d model</a>
                    <a href="#" class="tag">design</a>
                    <a href="#" class="tag">shape</a>
                    <a href="#" class="tag">engineering</a>
                    <a href="#" class="tag">3d printer</a>
                    <a href="#" class="tag">fdm</a>
                    <a href="#" class="tag">sla</a>
                    <a href="#" class="tag">Makergear</a>
                    <a href="#" class="tag">Formlabs</a>
                    <a href="#" class="tag">PCB</a>
                    <a href="#" class="tag">Artwork</a>
                    <a href="#" class="tag">Machinelearning</a>
                    <a href="#" class="tag">Artificial Intelligence</a>
                    <a href="#" class="tag">Tensorflow</a>
                    <a href="#" class="tag">Python</a>
                    <a href="#" class="tag">Django</a>



                </div>
                <!-- /Footer Tags -->

            </div>
            <!-- /Footer Column -->

        </div>

    </div>

    <div class="bottom-line bg-dark">
        <div class="container">
            <div class="row">

                <!-- Copyright -->
                <div class="col-md-4 col-sm-12">
                    <p class="copyright">
                        Copyright &copy; 2017 <strong>3d 방앗간</strong>
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p class="copyright">
                        사업자등록번호 468-25-00548 대표:설재환
                </div>
                <!-- /Copyright -->

                <!-- Footer Social -->
                 <div class="col-md-4 col-sm-12">
                    <div class="links">
                        <a  href="{% url 'information' %}">Information</a>
                        <a  href="{% url 'regulation' %}">서비스 정책</a>
                        <a  href="{% url 'privacy' %}">개인정보제공 정책 </a>
                    </div>
                </div>
                <!-- /Footer Social -->

            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->


<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->
<!-- SCRIPTS -->
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/general.js' %}"></script>
<!-- /SCRIPTS -->

<!--<a href="#" class="btn btn-rounded btn-white-o" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>-->

<div class="modal fade" id="modal_1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">FDM 제품 주문 가격:50,000원</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12 contact-form">
                        <form class="form-ajax" method="post">
                            <input type="hidden" name="form" value="Get In Touch Modal">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 이름*" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 전화번호*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="email" class="form-control" placeholder="받으실분 주소"><br>
                                    <h5>본 제품은 기성품으로 17시 이전 결제에 한하여 당일 배송됩니다.</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button id = "paid1" type="submit" class="btn btn-theme"><i class="icon fa fa-fw fa-paper-plane-o"></i> <span class="text">결제하기</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Get In Touch -->
 <script type="text/javascript">

                                        $(function() {
                                                $("#paid1").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '50000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
<div class="modal fade" id="modal_2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">FDM 제품 주문 가격:70,000원</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12 contact-form">
                        <form class="form-ajax" method="post">
                            <input type="hidden" name="form" value="Get In Touch Modal">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 이름*" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 전화번호*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="email" class="form-control" placeholder="받으실분 주소"><br>
                                    <h5>본 제품은 기성품으로 17시 이전 결제에 한하여 당일 배송됩니다.</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button id = "paid2" type="submit" class="btn btn-theme"><i class="icon fa fa-fw fa-paper-plane-o"></i> <span class="text">결제하기</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Get In Touch -->
 <script type="text/javascript">

                                        $(function() {
                                                $("#paid2").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '70000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
<div class="modal fade" id="modal_3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">SLA 제품 주문 가격:120,000원</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12 contact-form">
                        <form class="form-ajax" method="post">
                            <input type="hidden" name="form" value="Get In Touch Modal">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 이름*" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 전화번호*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="email" class="form-control" placeholder="받으실분 주소"><br>
                                    <h5>본 제품은 기성품으로 17시 이전 결제에 한하여 당일 배송됩니다.</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button id = "paid3" type="submit" class="btn btn-theme"><i class="icon fa fa-fw fa-paper-plane-o"></i> <span class="text">결제하기</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Get In Touch -->
 <script type="text/javascript">

                                        $(function() {
                                                $("#paid3").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '120000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
<div class="modal fade" id="modal_4" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">SLA 제품 주문 가격:180,000원</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12 contact-form">
                        <form class="form-ajax" method="post">
                            <input type="hidden" name="form" value="Get In Touch Modal">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 이름*" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 전화번호*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="email" class="form-control" placeholder="받으실분 주소"><br>
                                    <h5>본 제품은 기성품으로 17시 이전 결제에 한하여 당일 배송됩니다.</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button id = "paid4" type="submit" class="btn btn-theme"><i class="icon fa fa-fw fa-paper-plane-o"></i> <span class="text">결제하기</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Get In Touch -->
 <script type="text/javascript">

                                        $(function() {
                                                $("#paid4").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '180000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>
<div class="modal fade" id="modal_5" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">SLA 제품 주문 가격:190,000원</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12 contact-form">
                        <form class="form-ajax" method="post">
                            <input type="hidden" name="form" value="Get In Touch Modal">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 이름*" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="받으실 분 전화번호*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="email" class="form-control" placeholder="받으실분 주소"><br>
                                    <h5>본 제품은 기성품으로 17시 이전 결제에 한하여 당일 배송됩니다.</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button id = "paid5" type="submit" class="btn btn-theme"><i class="icon fa fa-fw fa-paper-plane-o"></i> <span class="text">결제하기</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Get In Touch -->
 <script type="text/javascript">

                                        $(function() {
                                                $("#paid5").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명: 방앗간 완성제품 구매',
                                                        amount : '190000',
                                                        buyer_email : 'iamport@siot.do',
                                                        buyer_name : '이상호',
                                                        buyer_tel : '010-9098-3836',
                                                        buyer_addr : '서울특별시 강남구 삼성동',
                                                        buyer_postcode : '123-456',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>






</body>
</html>
