<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>3D 방앗간</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

</head>
<body>


<section id="services" class="section" style = "margin : 0px 0px 0px 0px ; padding : 0px 0px 0px 0px;">
        <!-- Slide -->

        <div class="item mask mask-black" style="background: url(/static/images/home3.jpeg) ; no-repeat center top / cover;" data-stellar-background-ratio="0.4">
            <div class="full-wh relative" data-stellar-ratio="0.5">
                <div class="container" >
                    <br>
                    <h3 class = "name text-left" style = "color : white;margin : 0px 10x 0px 10px; font-size:20px;">&nbsp;&nbsp;{{user.username}}님께서 요청하신 <strong style = "text-decoration:underline;">{{stlfile.filenamemake}}</strong> 모델의 견적내용입니다.<br><br><br><a href = "{% url 'address' stlfile.pk %}" style = "margin:0px 0px 0px 15px;">
                    <button  class="btn btn-theme"><i class="icon fa fa-fw fa-check"></i> <span class="text">주문서 작성하러 가기</span></button>
                    </a></h3><br>


                        <div class="col-lg-6 col-md-6 col-sm12 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.2s" style = "margin:0px 0px 0px 0px;">
                                <div class="plan">
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :16px;"><p style ="text-decoration:underline;">FDM(적층 방식)이용 시</p></h3><br>
                                    <h4 class="text-left"style = "color : gray;margin : 0px 0px 0px 10px ;font-size :12px;">가격대비 성능 우수&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;빠른 출력속도&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;적층방식으로 표면이 매끄럽지는 않음</h4>
                                    <br>
                                    <!--<HR width="95%" align="right" style="margin : 0px 0px 10px 10px;color:gray; background-color:gray; height:1px;" />-->
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :14px;">재료비</h3><br>
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :12px;">ABS 또는 PLA</h3><br>
                                    <hr width="95%" align="right" style="margin : 0px 0px 10px 10px;color:gray; background-color:gray; height:1px;" />
                                    <h3 class= "text-right" style = "margin : 0px 5px 0px 10px ;font-size :14px;">재료비 합계:{{stlfile.fdm_material_price}}원</h3><br>
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :14px;">장비가동 및 후가공 비</h3><br>
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :12px;">출력시간:{{stlfile.fdm_time}}시간,서포터 제거 , 표면처리</h3><br>
                                    <hr width="95%" align="right" style="margin : 0px 0px 10px 10px;color:gray; background-color:gray; height:1px;" />
                                    <h3 class= "text-right" style = "margin : 0px 5px 0px 10px ;font-size :14px;">장비가동비 합계:{{stlfile.fdm_machine_price}}원</h3><br>
                                    <h3 class= "text-right" style = "margin : 0px 5px 0px 10px ;font-size :14px;"><strong>총 소요시간 :{{stlfile.fdm_sum_time}}시간 총 금액 합계:{{stlfile.fdm_sum_price}}원</strong></h3><br>
                                    <br>
                                    <button  id = paid_fdm class="btn btn-theme"><i class="icon fa fa-fw fa-check"></i> <span class="text">FDM 출력 결제하기</span></button>

                                    <!--<a href="#" data-toggle="modal" data-target="#modal_fdm">-->
                                   <script type="text/javascript">

                                        $(function() {
                                                $("#paid_fdm").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명:3D 방앗간 출력대행',
                                                        amount : '{{stlfile.fdm_sum_price}}',
                                                        buyer_email : '{{user.email}}',
                                                        buyer_name : '{{user.username}}',
                                                        buyer_tel : '',
                                                        buyer_addr : '',
                                                        buyer_postcode : '',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>


                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm12 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.2s">
                                <div class="plan">

                                   <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :16px;"><p style ="text-decoration:underline;">SLA(레이져 방식)이용 시</p></h3><br>
                                    <h4 class="text-left"style = "color : gray;margin : 0px 0px 0px 10px ;font-size :12px;">FDM 대비 가공비 높음&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;정밀도 우수&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;표면 매끄러움</h4>
                                    <br>
                                    <!--<HR width="95%" align="right" style="margin : 0px 0px 10px 10px;color:gray; background-color:gray; height:1px;" />-->
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :14px;">재료비</h3><br>
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :12px;">SLA 레진</h3><br>
                                    <hr width="95%" align="right" style="margin : 0px 0px 10px 10px;color:gray; background-color:gray; height:1px;" />
                                    <h3 class= "text-right" style = "margin : 0px 5px 0px 10px ;font-size :14px;">재료비 합계:{{stlfile.sla_material_price}}원</h3><br>
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :14px;">장비가동 및 후가공 비</h3><br>
                                    <h3 class= "text-left" style = "margin : 0px 0px 0px 10px ;font-size :12px;">출력시간: {{stlfile.sla_time}}시간,서포터 제거 , 표면처리,UV경화,IPA 세척 등등</h3><br>
                                    <hr width="95%" align="right" style="margin : 0px 0px 10px 10px;color:gray; background-color:gray; height:1px;" />
                                    <h3 class= "text-right" style = "margin : 0px 5px 0px 10px ;font-size :14px;">장비가동비 합계:{{stlfile.sla_machine_price}}원</h3><br>
                                    <h3 class= "text-right" style = "margin : 0px 5px 0px 10px ;font-size :14px;"><strong>총 소요시간 :{{stlfile.sla_sum_time}}시간 총 금액 합계:{{stlfile.sla_sum_price}}원</strong></h3><br><br>
                                    <button  id = paid_sla class="btn btn-theme"><i class="icon fa fa-fw fa-check"></i> <span class="text">SLA 출력 결제하기</span></button><br>

                                    <!--<a href="#" data-toggle="modal" data-target="#modal_fdm">-->
                                    <script type="text/javascript">

                                        $(function() {
                                                $("#paid_sla").click(function() {
                                                    var IMP = window.IMP; // 생략가능
                                                    IMP.init('imp05811817');
                                                    IMP.request_pay({
                                                        pg : 'inicis', // version 1.1.0부터 지원.
                                                        pay_method : 'card',
                                                        name : '주문명:3D 방앗간 출력대행',
                                                        amount : '{{stlfile.sla_sum_price}}',
                                                        buyer_email : '{{user.email}}',
                                                        buyer_name : '{{user.username}}',
                                                        buyer_tel : '{{addresses.phone_number}}',
                                                        buyer_addr : '{{adddresses.address}}',
                                                        buyer_postcode : '',
                                                        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
                                                    }, function(rsp) {
                                                        if ( rsp.success ) {
                                                            var msg = '결제가 완료되었습니다.';
                                                            msg += '결제 금액 : ' + rsp.paid_amount;
                                                            msg += '카드 승인번호 : ' + rsp.apply_num;
                                                        } else {
                                                            var msg = '결제에 실패하였습니다.';
                                                            msg += '에러내용 : ' + rsp.error_msg;
                                                        }
                                                        alert(msg);
                                                    });
                                                            });

                                        });
                                     </script>

                                </div>
                        </div>
                </div>
            </div>
         </div>


</section>


<!-- /Header -->

<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/general.js' %}"></script>


<!-- /SCRIPTS -->
</body>

</html>
