<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>3D 방앗간</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>
<body>

<!-- Preloader -->
<!--<div id="preloader">-->
    <!--<div class="loader"></div>-->
<!--</div>-->
<!-- /Preloader -->

<!-- Header -->
<header id="home" class="header">

    <!-- Navigation -->
    <nav id="navigation" class="navbar affix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- Navigation Header -->
                    <div class="navbar-header">

                        <!-- Toggle Button -->
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu"
                                aria-expanded="false"
                                aria-controls="main-menu">

                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /Toggle Button -->

                        <!-- Brand -->
                        <a href="{% url 'bootstrap' %}" class="brand">

                            <!-- Logo Big -->
                            <div class="big">
                               <span class="icon_cogs"></span> 3D 방앗간
                            </div>
                            <!-- /Logo Big -->

                            <!-- Logo Small -->
                            <div class="small">
                                <span class="icon_cogs"></span>
                            </div>
                            <!-- /Logo Small -->

                        </a>
                        <!-- /Brand -->

                    </div>
                    <!-- /Navigation Header -->

                    <!-- Navigation -->
                    <div id="main-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="smooth-scroll" href="{% url 'aboutus' %}">방앗간 제품</a></li>
                            <li><a class="smooth-scroll" href="{% url 'service' %}">제공 서비스</a></li>

                            <li><a class="smooth-scroll" href="{% url 'mypage' %}">나의 방앗간</a></li>
                          <li><a class="smooth-scroll" href="{% url 'logout' %}">로그아웃 하기</a></li>

                          <!-- /Navigation -->

                        </ul>
                    </div>
                    <!-- /Navigation -->

                </div>
            </div>
        </div>
    </nav>
    <!-- /Navigation -->

    <!-- Slider -->
    <div id="carousel-home" class="slider owl-carousel owl-theme">
        <!-- Slide -->
        <div class="item mask mask-black" style="background: url(/static/images/home3.jpeg) ; no-repeat center top / cover;" data-stellar-background-ratio="0.4">
            <div class="full-wh relative" data-stellar-ratio="0.5">
                <div class="container" >
                    <div class="col-md-6 col-md-offset-2 relative">
                        <h1 class = 'aniamted fadeInDown wow' data-wow-delay = "0.2s" style="font-size: 20px;color: white;"> &nbsp;&nbsp;반갑습니다, <strong style="text-decoration:underline;">{{user.username}}님</strong> My page입니다.</h1>
                        <h1 class = 'aniamted fadeInDown wow' data-wow-delay = "0.2s" style="font-size: 15px;color: white; ">  &nbsp;&nbsp; 이곳에서 견적 요청하실 수 있어요:) <tr> 갖고 계신 모델을 <strong style="text-decoration: underline;">업로드 </strong>해주세요!</tr></h1>

                    </div>
                    <br><br><br><br>

                     <div class="col-md-6 col-md-offset-2 relative">
                        <form class = "col-md-6 col-md" method = "POST" action = "{% url 'mypage' %}" enctype="multipart/form-data" style="margin:0px 0px 0px 0px ; pading:0px 0px 0px 0px; ">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label style="font-size: 15px;color: white; " >{{ field.label_tag }}</label>

                                    <div class="input" style = "color :#817f7f" >{{ field }}</div>
                                </div>

                            {% endfor %}

                            <br>
                        <button class="btn" style="width:90%">업로드 하기</button>

                        </form>
                         <div class = "col-md-6 ">
                        <a href = "{% url 'mypagelist' %}"><button class = "btn" style="width:90%;margin:166px 0px 0px 0px;">리스트 보러가기 </button></a>

                         <br>
                         </div>




                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide -->

        <!-- Slide -->


        <!-- /Slide -->

    </div>
    <!-- /Slider -->

</header>
<!-- /Header -->

<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/general.js' %}"></script>
<!-- /SCRIPTS -->


</html>
