container_commands:

  00_setup:
    command: "pip install -r requirements.txt"
  01_migrate:
    command: "python manage.py migrate"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_chmod_sqlite:
    command: "chmod 666 db.sqlite3"
  04_create_superuser:
    command: "python create_superuser.py"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"